/* Defaults */

header {
  height: 4%;
  padding: 2.343%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-light-color);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header.dark {
  color: var(--main-light-color);
}

header.visible {
  top: 0;
}

header.hidden {
  top: -70px;
}

/* Logo */

.logo {
  width: 5.53%;
  margin-right: 4.916%;
}

/* Navigation Bar */

.main-nav {
  width: 70%;
  max-height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.translateLeft {
  position: absolute;
  right: 10%;
}

.main-nav .nav-item-list {
  width: 100%;
  position: relative;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.35s ease-in-out;
}

.main-nav .nav-item-list.left {
  left: -10.5%;
}

.main-nav .nav-item-highlighter {
  width: 9.657%;
  height: 2px;
  position: absolute;
  bottom: -1%;
  left: 1.5%;
  border-radius: 10px;
  background: linear-gradient(45deg, #1ecdf4, #ba06f9cf);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 0.2px #11111155;
}

.nav-item.active-link {
  transform: scale(1.1);
}

.nav-item.active-link.item-1 ~ .nav-item-highlighter {
  width: 14.748%;
  left: 14.55%;
}

.nav-item.active-link.item-2 ~ .nav-item-highlighter {
  width: 12.29%;
  left: 31.48%;
}

.nav-item.active-link.item-3 ~ .nav-item-highlighter {
  width: 15.625%;
  left: 45.45%;
}

.nav-item.active-link.item-4 ~ .nav-item-highlighter {
  width: 9.657%;
  left: 64.2%;
}

.nav-item.active-link .nav-link {
  color: transparent;
  background: linear-gradient(45deg, #1ecdf4, #ba06f9cf);
  background-clip: text;
  -webkit-background-clip: text;
}

.nav-item {
  width: 100%;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  transition: all 0.2s ease-in-out;
}

.nav-item:not(.nav-item.search-bar) {
  cursor: pointer;
}

.nav-item:hover:not(.nav-item.search-bar) {
  transform: scale(1.1);
}

.nav-item .nav-link {
  display: flex;
  align-items: center;
  position: relative;
  color: #111111b0;
  transition: color 0.1s ease-in-out;
}

.nav-item:not(.nav-item.active-link) .nav-link:hover {
  color: var(--main-dark-color);
}

header.dark .nav-link {
  color: #eeeeeeb0;
}

header.dark .nav-item:not(.nav-item.active-link) .nav-link:hover {
  color: var(--main-light-color);
}

.nav-item .icon {
  width: 1.3rem;
  height: 1.3rem;
}

.nav-item .nav-link .icon {
  position: absolute;
  top: 50%;
  left: -2.3rem;
  transform: translate(50%, -55%);
}

.nav-item .nav-link .icon.svg-active {
  stroke: linear-gradient(45deg, #1ecdf4, #ba06f9cf);
}

/* Nav Search Bar */

.nav-item.search-bar {
  width: 150%;
  height: 2rem;
  position: relative;
  margin-left: -1%;
}

.nav-item.search-bar #searchInput {
  position: absolute;
  left: 50%;
  width: 0;
  height: 100%;
  font-size: 100%;
  padding: 8.29% 3.77%;
  padding-right: 16.575%;
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  outline: none;
  text-indent: 0.2rem;
  cursor: default;
}

.nav-item.search-bar.search-bar-dark #searchInput {
  border: 1px solid var(--main-light-color);
  background-color: transparent;
  color: var(--main-light-color);
}

.nav-item.search-bar.search-bar-light #searchInput {
  border: 1px solid var(--main-dark-color);
  color: var(--main-dark-color);
}

.nav-item.search-bar.active #searchInput {
  width: 100%;
  left: 0;
  opacity: 1;
  cursor: text;
}

.nav-item.search-bar .search-icon {
  width: 11.3%;
  height: 75%;
  position: absolute;
  top: 9%;
  right: 88%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, right 0.5s ease-in-out;
}

.nav-item.search-bar .search-icon:hover {
  transform: scale(1.2);
}

.nav-item.search-bar.active .search-icon {
  right: 5%;
}

/* Dark Mode Toggler */

.darkMode-toggler {
  margin-right: 0.246%;
  margin-left: -7.374%;
}

.darkMode-toggler .toggle-dark {
  opacity: 0;
  position: absolute;
}

.darkMode-toggler .toggle-dark-label {
  background-color: var(--main-light-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--main-dark-color);
}

.darkMode-toggler .toggle-dark-label.dark {
  border: 1px solid var(--main-light-color);
  background-color: var(--main-dark-color);
}

.darkMode-toggler .toggle-dark-label .ball {
  background-color: var(--main-light-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.darkMode-toggler .toggle-dark-label .ball.dark {
  background-color: var(--main-dark-color);
}

.toggle-dark:checked + .toggle-dark-label .ball {
  transform: translateX(24px);
}

.toggle-dark-label .ball.dark.slide-ball {
  transform: translateX(24px);
}

/* Burger Menu */

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 0.3rem;
}

.burger-menu .meat {
  width: 25px;
  height: 3px;
  background-color: var(--main-dark-color);
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 15px;
}

.burger-menu.active .meat:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 20% -100%;
}

.burger-menu.active .meat:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .meat:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: -10% 100%;
}
