/* Default Styles */
section {
  width: 100%;
  height: 100vh;
}

section.dark {
  color: var(--main-light-color);
}

/* Hero Section */
section.hero {
  background-color: #4d94ff;
  position: relative;
  height: fit-content;
}

section.hero.dark {
  background-color: #002855;
}

/* Title */
.title {
  font-size: 3.4375rem;
  font-weight: 700;
  line-height: 100%;
  width: 100%;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3%;
  color: #292d33;
}

.title .title-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5%;
}

.title .title-logo .blue-text {
  color: #1a29ff;
}

.hero.dark .blue-text {
  color: #00e8f0;
}

.title .title-quote {
  text-align: center;
}

/* Subtitle */
.sub-title {
  color: #292d33;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
  padding: 0 8.2%;
  position: absolute;
  top: 43%;
}

.hero.dark .sub-title {
  color: var(--main-light-color);
}

/* Rocket Icon */
.rocket-container {
  position: absolute;
  top: 5%;
  right: 5%;
  animation: fly 1s forwards ease-in-out;
}

.rocket-fire {
  position: absolute;
  top: 38%;
  right: 3%;
  transform: rotate(-4deg);
}

/* Wave Icon */
.blue-wave {
  position: relative;
  bottom: -4px;
}

/* Academics, SelfDev & Playground Sections */
section:not(section.hero) {
  color: #333;
  font-size: /* 2.125rem */ 212.5%;
  font-style: normal;
  font-weight: 400;
  line-height: 141.2%;
  padding: 5.857%;
  display: flex;
  align-items: center;
}

section:not(section.hero).dark {
  color: var(--main-light-color);
}

section:not(section.hero).dark a {
  color: var(--main-light-color);
}

section.selfdev {
  background-color: #f0f0f0;
  flex-direction: row-reverse;
}

section.selfdev.dark {
  background-color: #171717;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 6.634%;
  width: 60%;
}

.section-title {
  font-size: 141.2%;
  font-weight: bold;
  margin-bottom: 1.42%;
}

.section-description {
  font-weight: 400;
  margin-bottom: 2.84%;
}

section:not(.hero) a {
  width: 100%;
  font-size: 100%;
  margin-top: 4.26%;
  margin-bottom: -4.26%;
  align-self: flex-end;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #111111;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

section:not(.hero) a .link-icon {
  width: 4.828%;
  transition: transform 0.3s ease-in-out;
}

section:not(.hero) a:hover .link-icon {
  transform: translateX(20%);
}

/* Animations */
@keyframes fly {
  0% {
    top: 15%;
    right: -15%;
  }

  100% {
    top: 5%;
    right: 5%;
  }
}
