#terminal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#terminal__body {
  width: 70vw;
  height: 70vh;
  background: rgba(56, 4, 40, 0.9);
  font-weight: bold;
  padding-top: 0.5em;
  font-size: 120%;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

#terminal__prompt {
  display: flex;
  align-items: center;
  padding: 0 1%;
  min-height: 1.32em;
}

#terminal__promptUser {
  color: #7eda28;
}

#terminal__promptLocation {
  color: #4878c0;
}

#terminal__promptBling {
  font-size: 110%;
  color: #dddddd;
}

.terminal__input {
  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  width: 100%;
  font-size: 110%;
  caret-color: #fff;
  white-space: pre-wrap;
  overflow: hidden;
  min-height: 1.2em;
  padding-left: 1%;
}

.output {
  color: var(--main-light-color);
  padding: 0% 1% 0.5%;
}

#hidden {
  display: none;
}

@media (max-width: 600px) {
  #terminal {
    max-height: 90%;
    width: 90%;
  }
}
