@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

#terminal {
  width: 70vw;
  height: 65vh;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#terminal__body {
  height: 100%;
  background: rgba(56, 4, 40, 0.9);
  font-family: "Ubuntu Mono";
  padding-top: 2px;
  margin-top: -1px;
  font-size: 120%;
}

#terminal__prompt {
  display: flex;
  align-items: center;
  padding: 0 1%;
}
#terminal__promptUser {
  color: #7eda28;
}
#terminal__promptLocation {
  color: #4878c0;
}
#terminal__promptBling {
  color: #dddddd;
}
#terminal__promptCursor {
  display: block;
  height: 17px;
  width: 8px;
  margin-left: 9px;
  animation: blink 1200ms linear infinite;
  position: absolute;
  left: 25%;
}

.terminal__input {
  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
  font-family: "Ubuntu Mono";
  width: 100%;
  font-size: 110%;
  caret-color: #fff;
  white-space: pre-wrap;
  overflow: hidden;
  min-height: 1.2em;
  padding-left: 1%;
}

@media (max-width: 600px) {
  #terminal {
    max-height: 90%;
    width: 90%;
  }
}
