/* Defaults */
.header {
  height: 4%;
  padding: 2.343%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-light-color);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.visible {
  top: 0;
}

.hidden {
  top: -10%;
}

/* Burger Menu */

/* .burger-menu {
  display: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 0.3rem;
}

.burger-menu .meat {
  width: 25px;
  height: 3px;
  background-color: var(--main-dark-color);
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 15px;
}

.burger-menu.active .meat:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 20% -100%;
}

.burger-menu.active .meat:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .meat:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: -10% 100%;
}
 */
