/* Nav Bar */
.mainNav {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  font-size: 100%;
}

.navItemList {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16%;
  gap: 3%;
  transition: all 0.35s ease-in-out;
}

.left {
  transform: translateX(-6rem);
}

.activeLink {
  transform: scale(1.1);
}

.navItem {
  width: 100%;
  font-size: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin: 0 0.2rem;
}

.item0 {
  width: fit-content;
  padding: 0.5rem 0.8rem;
}

.item1 {
  width: fit-content;
  padding: 0.5rem 0.8rem;
  margin-right: -0.08rem;
}

.item2 {
  width: 8rem;
  padding: 0.5rem 0.8rem;
  margin-right: -1.5rem;
}

.item3 {
  width: fit-content;
  padding: 0.5rem 0.8rem 0.5rem 1.3rem;
  margin-right: -0.3rem;
}

.item4 {
  width: fit-content;
  padding: 0.5rem 0.8rem;
}

.navItemLink {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #111111b0;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navItemLink:hover {
  color: var(--main-dark-color);
}

.navItem:not(.activeLink) .navItemLink:hover {
  transform: scale(1.1);
}

[data-theme="dark"] .navItemLink {
  color: #eeeeeeb0;
}

[data-theme="dark"] .navItem:not(.activeLink) .navItemLink:hover {
  color: var(--main-light-color);
}

.activeLink .navItemLink {
  color: transparent;
  background: linear-gradient(45deg, #1ecdf4, #ba06f9cf);
  background-clip: text;
  -webkit-background-clip: text;
}

.navItemHighlighter {
  height: 0.125em;
  position: absolute;
  bottom: -0rem;
  border-radius: 0.625em;
  background: linear-gradient(45deg, #1ecdf4, #ba06f9cf);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 0.2px #11111155;
}

.activeLink.item0 ~ .navItemHighlighter {
  width: 4.8rem;
  left: 17.5%;
}

.activeLink.item1 ~ .navItemHighlighter {
  width: 7.8rem;
  left: 28%;
}

.activeLink.item2 ~ .navItemHighlighter {
  width: 6.4rem;
  left: 42%;
}

.activeLink.item3 ~ .navItemHighlighter {
  width: 8rem;
  left: 54.2%;
}

.activeLink.item4 ~ .navItemHighlighter {
  width: 4.9rem;
  left: 68.5%; /* 71.5% */
}

.icon {
  width: 1.3em;
  height: 1.3em;
  position: relative;
  left: -5%;
  transform: translateY(-6%);
}

/* Search Bar */
.navSearchBar {
  width: 24%;
  height: 2em;
  position: relative;
}

.searchInput {
  position: absolute;
  left: 50%;
  width: 0;
  height: 100%;
  font-size: 100%;
  padding: 8.29% 3.77%;
  padding-right: 16.575%;
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  outline: none;
  text-indent: 0.5rem;
  cursor: default;
}

[data-theme="dark"] .searchInput {
  border: 1px solid var(--main-light-color);
  background-color: transparent;
  color: var(--main-light-color);
}

[data-theme="light"] .searchInput {
  border: 1px solid var(--main-dark-color);
  color: var(--main-dark-color);
}

.active .searchInput {
  width: 100%;
  left: 0;
  opacity: 1;
  cursor: text;
}

.searchIcon {
  width: 11.3%;
  height: 75%;
  position: absolute;
  top: 9%;
  right: 88%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, right 0.5s ease-in-out;
}

.searchIcon:hover {
  transform: scale(1.2);
}

.active .searchIcon {
  right: 5%;
}

/* Burger Menu */

.burgerMenu {
  display: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 0.3rem;
}

.meat {
  width: 25px;
  height: 3px;
  background-color: currentColor;
  margin: 4px 0;
  border-radius: 15px;
  transition: all 0.2s linear;
}

.burgerMenu.active .meat:nth-child(1) {
  transform: translateY(230%) rotate(45deg);
  transform-origin: 50%;
}

.burgerMenu.active .meat:nth-child(2) {
  opacity: 0;
}

.burgerMenu.active .meat:nth-child(3) {
  transform: translateY(-230%) rotate(-45deg);
  transform-origin: 50%;
}

/* Responsive Design */
@media only screen and (max-width: 1280px) {
  .burgerMenu {
    display: block;
    margin: 3%;
  }

  .mainNav {
    position: absolute;
    width: 50%;
    height: 100vh;
    max-height: 100vh;
    top: 100%;
    right: -50%;
    transition: all 0.5s ease-in-out;
    background-color: black;
  }

  [data-theme="light"] .mainNav {
    background-color: white;
  }

  .slideLeft {
    right: 0;
  }

  .navItemList {
    width: 100%;
    height: 100%;
    padding: 10% 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 170%;
  }

  .navItemLink {
    margin-bottom: 10%;
  }

  [data-theme="dark"] .navItem:not(.activeLink) .navItemLink {
    color: var(--main-light-color);
  }

  [data-theme="light"] .navItem:not(.activeLink) .navItemLink {
    color: var(--main-dark-color);
  }

  .navItem:not(.activeLink) .navItemLink:hover {
    transform: none;
  }

  .navItemHighlighter {
    display: none;
  }

  /* Search Bar */
  .navSearchBar {
    width: 90%;
    margin: 5% auto;
  }

  .searchInput {
    position: relative;
    left: 0;
    width: 100%;
    opacity: 1;
    padding: 7% 3%;
    padding-right: 16%;
    cursor: text;
    font-size: 80%;
  }

  .searchIcon {
    width: 7%;
    right: 5%;
  }

  .searchIcon:hover {
    transform: none;
  }

  .left {
    transform: none;
  }
}
