/* Resets */
@import url("./fonts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
}

a {
  color: #111111;
  text-decoration: none;
}

input,
button,
textarea {
  border: none;
}

/* Main Styles */
header,
main,
section,
footer {
  width: 100%;
  transition: all 0.2s linear;
}

/* Styled Classes */
.dark {
  background-color: #111111;
  color: #eeeeee;
}
